*{
    margin: 0px;
    padding: 0px;
}

.text h1{
    margin-top: 50px;
    text-align: center;
    font-weight: 900;
}

.content{
    margin:50px;
    display: grid;
    grid-template-columns: 870px auto;
    grid-column-gap: 20px;
}

.hero{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

.column{
    column-width: 80px;
    column-rule: 2px solid grey;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;  
}

.word h2{
    font-weight: 900;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1370px;
}

.input input[placeholder]{
    background-color: rgb(240, 234, 234);
    width: 350px;
    height:40px;
    border: none;
}


.categories li, .recpost{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:25px;
}

.details h2{
    margin-bottom: 10px;
}

.recpost{
    height:500px;
}

.part{
    display: flex;
}

.text{
    margin-left: 10px;
}

.text h3{
    margin-top: 10px;
}
.page{
    margin:50px 320px;
    width:300px;
}
.page a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.circle{
    height: 20px;
    width: 20px;
    background-color: silver;
    border-radius: 50%;
    text-align: center;
}