/*Header*/
*{
  margin:0px;
  padding:0px;
}

.top-heading{
  text-align:center;
  background-color:#fff9a1;
  font-size:medium;
}

.head-icon{
  display: flex;
  justify-content: space-between;
 
}

.social-media-icon, .site-icon{
  display: flex;
  justify-content: space-evenly;
  width:200px;
  margin: 50px 20px;
}

.site-icon input{
  width:70px;
  height: 20px;
}
#navbar{
  display: flex;
  justify-content: space-evenly;
  margin: 0px 300px;
  font-weight: bold;
}

#navbar li{
    display:flex;
}

#navbar a{
  text-decoration-line:none;
  color:black;
}

a:hover{
  color:blue;
}

/*Footer*/
footer{
  background-color:#025012;
  color:white;
}

.info{
  display: flex;
  justify-content: space-around;
  padding: 70px 0px;
}

.info a{
  color: white;
}

.foot-part{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.emails{
  width:350px;
  height:150px;
}

input{
  height: 30px;
  border: none;
}

.company{
  width:160px;
  height: 150px;
}

.links{
  height: 150px;
}

.links a{
  text-decoration: none;
}

.socialmedia{
  width: 150px;
}

.foot-icon{
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}