*{
  margin:0px;
  padding:0px;
}

body{
  font-family: 'Jost', sans-serif;
}

.line{
  text-align:center;
  background-color:#f5f5f5;
  margin-top: 30px;
  height:30px;
  padding:10px 0px 0px 0px;
  font-size:large;
}

.content{
  margin: 50px 50px 20px 50px;
}

.part1{
  text-align:center;
}

.part1 p{
  padding: 10px 400px;
}

.part2{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.message{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 65%;
}

.message input{
  background-color: #eee;
  padding: 10px;
  border: none;
}

.first{
  display: flex;
  justify-content: space-between;
}

.first input{
  height: 40px;
  width: 47%; 
}

.message input:nth-child(3){
  height: 200px;
}

.last{
  display: flex;
}

.message button{
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
}

.rightdata{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}

.address p{
  padding: 20px 0px;
}

.address p:last-child{
  text-underline-offset: 10px;
  text-decoration-line: underline;
  font-weight: bold;
}

.content li{
  margin-top: 15px;
  list-style: none;
}

.part3 img{
  width: 100%;
}